<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-evenly">
      <ion-button clear full (click)="goTo('/main-list')" class="ion-float-right">
        <ion-icon slot="icon-only" name="home"> </ion-icon>
      </ion-button>
      <ion-button clear full (click)="goTo('/account-view')" center>
        <ion-icon slot="icon-only" name="person"> </ion-icon>
      </ion-button>
      <ion-button clear full (click)="goTo('/transactions')" class="ion-float-left">
        <ion-icon slot="icon-only" name="list-box"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>