<ion-header>
  <ion-toolbar>
    <ion-title>Bewertungen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="close"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner style="margin: 50px auto; display: flex;" *ngIf="!user || !transactions" name="dots"></ion-spinner>

  <ion-list *ngIf="user && transactions">
    <ng-container *ngFor="let t of transactions">
      <ion-card
        *ngIf="(t.takerID === user.userID && t.review.giverRating) || (t.giverID === user.userID && t.review.takerRating)">
        <ion-card-title style="margin: 12px 0;" class="ion-text-center">{{t.item ? t.item.title : 'Item gelöscht'}}</ion-card-title>
        <ion-card-subtitle class="ion-text-center">{{formatDate(t.startDate)}} - {{formatDate(t.endDate)}}
        </ion-card-subtitle>
        <ion-card-content>
          <div style="margin: auto;display: flex;justify-content: center;">

            <ion-chip slot="end">
              <ion-avatar>
                <img [src]="userImageURLs.get(t.user.userID)">
              </ion-avatar>
              <ion-label>{{t.user.username}}</ion-label>
            </ion-chip>
          </div>
          <rating *ngIf="t.takerID === user.userID" [(ngModel)]="t.review.giverRating" readonly="true" size="default"
            style="margin: 0 0;"> </rating>
          <rating *ngIf="t.giverID === user.userID" [(ngModel)]="t.review.takerRating" readonly="true" size="default"
            style="margin: 0 0;"> </rating>
          <ng-container *ngIf="t.giverID === user.userID">{{t.review.takerComment}}</ng-container>
          <ng-container *ngIf="t.takerID === user.userID">{{t.review.giverComment}}</ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>
</ion-content>
