<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="ende">
      <ion-button  (click)="deleteItem()" *ngIf="isEditMode">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>
</ion-header>
  

<ion-content *ngIf="user && isEditMode || !isEditMode ">
  <ion-list lines="full">

    <!-- title -->
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" maxlength="25" required [(ngModel)]="item.title"></ion-input>
    </ion-item>

    <!-- image -->

    <ion-item>
      <ion-label position="floating">Bild auswählen</ion-label>
    </ion-item>

    <ion-img (click)="openCamera()" [src]="imageBase64" width="50" height="50"></ion-img>
    
    <!-- description -->
    <ion-item>
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-textarea type="text" minlength="20" required [(ngModel)]="item.description"></ion-textarea>
    </ion-item>

    <!-- adress -->
    <ion-item>
      <ion-label position="floating">Straße</ion-label>
      <ion-input [(ngModel)]="item.address.street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hausnummer</ion-label>
      <ion-input [(ngModel)]="item.address.houseNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PLZ</ion-label>
      <ion-input [(ngModel)]="item.address.zip" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Wohnort</ion-label>
      <ion-input [(ngModel)]="item.address.city"></ion-input>
    </ion-item>
  
  
    <!-- tags -->
    <ion-item>
      <ion-label position="floating">Tags hinzufügen</ion-label>
      <ion-input type="text" maxlength="10" (keyup.enter)="addTag()" [(ngModel)]="tagInput"></ion-input>
      <ion-icon (click)="addTag()" size="large" color="primary" slot="end" name="add-circle"></ion-icon>
    </ion-item>
    <ion-item *ngIf="item.tags.length">
      <label text-wrap>
        <ion-chip *ngFor="let t of item.tags">
          <ion-label>{{t}}</ion-label>
        </ion-chip>
      </label>
    </ion-item>

    <!-- status -->
    <ion-list-header>Status</ion-list-header>
    <ion-item>
      <ion-label>Aktiv</ion-label>
      <ion-toggle [(ngModel)]="statusBool"></ion-toggle>
    </ion-item>

  </ion-list>
  <ion-button *ngIf="!isEditMode" style="margin: 10px 10px" expand="full" (click)="createItem()">Item Speichern</ion-button>
  <ion-button *ngIf="isEditMode" style="margin: 10px 10px" expand="full" (click)="updateItem()">Item Speichern</ion-button>
  
</ion-content>

