<ion-header>
  <ion-toolbar>
    <ion-title>Tool23</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="searchItem()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner style="margin: 50px auto; display: flex;" *ngIf="searching" name="dots"></ion-spinner>

  <ion-list>
    <div *ngFor="let item of items;">
      <ion-item button (click)="gotoDetail(item._id)">
        <ion-thumbnail slot="start">
          <ion-img [src]="itemImageURLs.get(item._id)"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-padding-start ion-margin-start">{{item.title}}</ion-label>
        <ion-label class="ion-float-right ion-text-end">{{getRange(item.distance)}}</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreateItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>