<ion-header>
	<ion-toolbar>
		<ion-title>Profil</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="showHistory()">
				<ion-icon slot="icon-only" name="time"> </ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="editAccount()">
				<ion-icon slot="icon-only" name="create"> </ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="imageView">
		<img src="{{ user.img }}" />
	</div>

	<div class="userDetails">
		<ul>
			<li>Nutzername:</li>
			<li>E-Mail:</li>
			<li>Wohnort:</li>
			<li>Bewertung:</li>
		</ul>
		<ul>
			<li>{{ user.name }}</li>
			<li>{{ user.email }}</li>
			<li>{{ user.city }}</li>
			<li>{{ user.review }}</li>
		</ul>
	</div>

	<div class="items">
		<h3>Geräte:</h3>
		<div class="scrolling-wrapper">
			<div
				*ngFor="let item of items"
				class="card"
				onclick="showItem(id)"
				[style.backgroundImage]="'url(' + item.image + ')'"
			></div>
		</div>

		<h3>Zur Zeit verliehen:</h3>
		<div class="scrolling-wrapper">
			<div
				*ngFor="let item of items"
				class="card"
				onclick="showItem(id)"
				[style.backgroundImage]="'url(' + item.image + ')'"
			></div>
		</div>
	</div>
</ion-content>
