<ion-header>
	<ion-toolbar>
		<ion-title>Profil</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="showHistory()">
				<ion-icon slot="icon-only" name="time"> </ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="editAccount()">
				<ion-icon slot="icon-only" name="create"> </ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="presentPopover($event)">
				<ion-icon slot="icon-only" name="more"> </ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="imageView">
		<img [src]="userImageURL" />
	</div>

	<div class="userDetails" *ngIf="user">
		<ul>
			<li>Nutzername:</li>
			<li>E-Mail:</li>
			<li>Wohnort:</li>
			<li>Bewertung:</li>
		</ul>
		<ul>
			<li>{{ user.username }}</li>
			<li>{{ user.email }}</li>
			<li>{{ user.address.city }}</li>
			<li>{{ user.reviewScore }}</li>
		</ul>
	</div>

	<div class="items">
		<ion-list>
			<ion-list-header>
				<ion-label>Meine Anzeigen:</ion-label>
			</ion-list-header>

			<ion-item-sliding *ngFor="let i of items">
				<ion-item>
					<ion-label [style.color]="i.status === 'disabled' ? 'gray' : 'black'">
						{{i.title}}
					</ion-label>
					<ion-icon slot="end" *ngIf="i.status === 'disabled'" name="pause"> </ion-icon>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option *ngIf="i.status === 'active'">Deaktivieren</ion-item-option>
					<ion-item-option *ngIf="i.status === 'disabled'">Aktivieren</ion-item-option>
					<ion-item-option color="danger">Löschen</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>
<app-footer></app-footer>