<ion-header>
	<ion-toolbar>
		<ion-title>Profil</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="showHistory()">
				<ion-icon slot="icon-only" name="filing"> </ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="goToEditAccount()">
				<ion-icon slot="icon-only" name="create"> </ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="presentPopover($event)">
				<ion-icon slot="icon-only" name="more"> </ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="imageView">
		<img [src]="userImageURL" />
	</div>

	<ion-item-sliding>
		<ion-item>
			<ion-label>Nutzername:</ion-label>
			<ion-note slot="end" color="dark">{{ user.username }}</ion-note>
		</ion-item>
		<ion-item>
			<ion-label>E-Mail:</ion-label>
			<ion-note slot="end" color="dark">{{ user.email }}</ion-note>
		</ion-item>
		<ion-item>
			<ion-label>Wohnort:</ion-label>
			<ion-note slot="end" color="dark">{{ user.address.city }}</ion-note>
		</ion-item>
		<ion-item>
			<ion-label>Bewertung:</ion-label>
			<ion-note slot="end" color="dark">{{
				user.reviewScore
			}}</ion-note>
		</ion-item>
	</ion-item-sliding>

	<div class="items">
		<ion-list>
			<ion-list-header>
				<ion-label>Meine Anzeigen:</ion-label>
			</ion-list-header>

			<ion-item-sliding *ngFor="let i of items">
				<ion-item (click)="goToItemDetail(i._id)">
					<ion-label>{{i.title}}</ion-label>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option *ngIf="i.status === 'active'"
						>Deaktivieren</ion-item-option
					>
					<ion-item-option *ngIf="i.status === 'disabled'"
						>Aktivieren</ion-item-option
					>
					<ion-item-option color="danger">Löschen</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>
<app-footer></app-footer>
