<ion-header>
  <ion-searchbar (ionClear)="clearSearchbar()" [showCancelButton]="true" (ionCancel)="modalController.dismiss()"
    (ionInput)="setTags($event)" (keyup.enter)="search('')">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-spinner style="margin: 50px auto; display: flex;" *ngIf="loading" name="dots"></ion-spinner>

  <ion-list>
    <div *ngFor="let tag of filteredTags;">
      <ion-item button (click)="search(tag)">
        <ion-label class="ion-padding-start ion-margin-start">{{tag}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>