<ion-header>
	<ion-toolbar>
		<ion-title>{{ haveAccount ? 'Anmelden' : 'Registrieren' }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding" *ngIf="!haveAccount">
		<ion-item>
			<ion-label position="stacked">Email:</ion-label>
			<ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Benutzername:</ion-label>
			<ion-input [(ngModel)]="user.username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Passwort:</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Passwort bestätigen:</ion-label>
			<ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Straße:</ion-label>
			<ion-input [(ngModel)]="user.address.street"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Hausnummer:</ion-label>
			<ion-input
				[(ngModel)]="user.address.houseNumber"
			></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">PLZ:</ion-label>
			<ion-input pattern="[0-9]{5}" [(ngModel)]="user.address.zip" type="number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Wohnort:</ion-label>
			<ion-input [(ngModel)]="user.address.city"></ion-input>
		</ion-item>
		<br />
		<ion-button
			[disabled]="password && password !== confirmPassword"
			expand="block"
			(click)="register()"
			>Registrieren</ion-button
		>
	</div>

	<div class="ion-padding" *ngIf="haveAccount">
		<ion-item>
			<ion-label position="stacked">Email:</ion-label>
			<ion-input type="email" [(ngModel)]="user.email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Passwort:</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<br />
		<ion-button expand="block" (click)="signin()">Anmelden</ion-button>
	</div>
</ion-content>

<ion-footer no-shadow style="background:white">
	<ion-button (click)="toggleHaveAccount()" expand="full" color="light">{{
		haveAccount
			? 'Noch keinen Account? Registrieren'
			: 'Schon einen Account? Anmelden'
	}}</ion-button>
</ion-footer>
