<ion-app>
	<ion-header translucent>
		<ion-toolbar>
			<ion-title>Willkommen</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content fullscreen padding scroll-y="false">
		<ion-slides>
			<ion-slide>
				<img src="./assets/slideImages/tools.png" />
				<h2>Willkommen bei <b>Tool24</b></h2>
				<p>
					Hier kannst Du ausleihen, verleihen oder einfach nur stöbern. Bei uns
					findet jeder was er sucht.
				</p>
				<img src="./assets/slideImages/swipe.png" />
			</ion-slide>

			<ion-slide>
				<img src="./assets/slideImages/list.png" />
				<h2>Alles in <b>Deiner</b> Nähe</h2>
				<p>
					Die Hauptseite zeigt dir das ganze coole Zeug, das Leute in Deiner
					Umgebung verleihen möchten. Da ist <b>immer</b> was dabei!
				</p>
			</ion-slide>

			<ion-slide>
				<img src="./assets/slideImages/transaction.png" />
				<h2>Behalte den <b>Überblick!</b></h2>
				<p>
					In der App ist alles über Transaktionen geregelt. So weißt Du immer
					was Du gerade verliehen hast oder was Du vielleicht bald mal
					zurückgeben solltest. Natürlich kannst Du jede abgeschlossene
					Transaktion bewerten. So hilfst Du den anderen Nutzern.
				</p>
			</ion-slide>

			<ion-slide>
				<img src="./assets/slideImages/rocket.png" />
				<h1>Bereit zum leihen?</h1>
				<ion-button fill="clear" (click)="hideView()">
					<h2>
						Leih los <ion-icon slot="end" name="arrow-forward"></ion-icon>
					</h2>
				</ion-button>
			</ion-slide>
		</ion-slides>
	</ion-content>
</ion-app>
