<ion-header>
  <ion-toolbar>
    <ion-title>Item anfragen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Abhol Datum</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Abholung</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Rückgabe Datum</ion-label>
      <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Rückgabe</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nachricht</ion-label>
      <ion-textarea placeholder="Nachricht schreiben"
                    required="true"
                    [(ngModel)]="transaction.message">
      </ion-textarea>
    </ion-item>

    <ion-button expand="full" (click)="requestItem()">
      Item anfragen
    </ion-button>
  </ion-list>
</ion-content>

<app-footer></app-footer>
