<ion-header>
  <ion-toolbar>
    <ion-title>Item anfragen</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="transaction">
    <ion-item>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Abholdatum</ion-label>
      <ion-datetime [min]="minYear" [max]="maxYear" displayFormat="YYYY-MM-DD" (ionChange)="setDate($event, 'start')"
        placeholder="Wähle Startdatum"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Rückgabedatum</ion-label>
      <ion-datetime [min]="minYear" [max]="maxYear" displayFormat="YYYY-MM-DD" (ionChange)="setDate($event, 'end')"
        placeholder="Wähle Enddatum">
      </ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Nachricht</ion-label>
      <ion-textarea placeholder="Nachricht schreiben" required="true" [(ngModel)]="transaction.message">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-text style="margin: 10px 0" *ngIf="errorDate" color="danger">
        Das Enddatum muss größer sein als das Startdatum
      </ion-text>
    </ion-item>

    <ion-button [disabled]="errorDate || !transaction.startDate || !transaction.endDate" expand="block"
      (click)="requestItem()">
      Item anfragen
    </ion-button>
  </ion-list>
</ion-content>
